* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  /*background-color: #FEC1BE;*/
  background-color: #f2f1f1;
  color: #1F2593;
}

body {
  margin: 40px 50px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #1F2593;
  color: #fff;
  cursor: pointer;
  border: none;
}

.grid {
  clear: both;
  margin: 200px auto;
}

.row {
  text-align: center;
  height: 150px;
  font-size: 0;   /* removes gap */
}

/*make responsive*/
.square {
  display: inline-block;
  font-size: 100px;
  width: 150px;
  height: 150px;
  line-height: 1.5;
  /*border: 1px solid deepPink;*/
}

.col-1 {
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.col-2 {
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.col-3 {
  border-bottom: 5px solid #fff;
}

.row-3 .col-1,
.row-3 .col-2,
.row-3 .col-3 {
  border-bottom: none;
}

.scores {
  display: block;
}

.player-1 {
  float: left;
  text-align: left;
}

.player-2 {
  float: right;
  text-align: right;
}

.message {
  text-align: center;
  margin: 0 0 2em;
}

.square:hover {
  background-color: #1F2593;
  color: #fff;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #66cc66;
}
